.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  overflow-y: auto;
  width: 100%;
}

thead {
  border-top: none;
  border-bottom: none;
  background-color: #FFF;
}

table td[class*=col-], table th[class*=col-] {
  float: left;
}