.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  overflow-y: auto;
  width: 100%;
}

thead {
  border-top: none;
  border-bottom: none;
  background-color: #FFF;
}

table td[class*=col-], table th[class*=col-] {
  float: left;
}

body {
  padding-top: 65px;
}

.container>.row {
  height: 80vh; /* TODO: will be calculated */
}

div[class*=col-], .panel {
  height: 100%;
}

.panel {
  height: 97%;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
